/* basic structure */

* {margin: 0; padding: 0; outline:0 !important;}

html {-webkit-text-size-adjust: none; overflow-y: scroll; height: 100%;}
html, body {background-color: #dedede !important;}

img {max-width: 100%;
     height: auto;
     width: auto\9; /* ie8 */}

.clear_both:after{
    clear: both;
    content: "";
    display: block;
}

.symbol-gray {color : #8f8f8f}

#simple-header {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 64px; line-height: 64px; z-index: 1039; background-color:#dedede; }

#page, #nav {max-width: 1200px; margin: 0 auto;}

#nav {border-bottom: 1px #c3c3c3 solid; height: 100%; font-weight: bold;}
#nav-right {float: right;}
#nav-left {float: left;}
#nav .dropdown-menu a {width: 100%;}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}
.btn-group.open .dropdown-toggle {color: #690000 !important}

#nav a {height: 100%; padding-right: 20px;  float: left; color: #7f7f7f; font-size: 1em; text-decoration:none;}
#nav a:hover {color:#690000;}

.nav-btn {padding-left: 20px;}
.nav-divider {float: left; width: 1px; border-left: 1px #c3c3c3 solid; height: 40px; margin:12px 0;}

#nav-toggle {display: none; padding-left: 20px;}

#connection-status {float:left; padding-right: 20px;}
#connection-light {display: inline-block; width: 11px; height:11px; border: 1px #7f7f7f solid; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: red;}
.connection-text {font-size: 0.8em; padding-left: 5px; color: #999}

.acc-info {padding: 3px 20px; line-height: 1.42857; color: #5f5f5f}

#page {display:none; overflow:hidden; border: 1px #c3c3c3 solid; background-color: #f9f9f9; margin-bottom: 12px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}

@media screen and (max-width: 1200px) {
    html {overflow-y: auto !important;}
    #logo {padding-left: 20px;}
    #page {border-width: 1px 0 1px 0; border-radius: 0;}
}

@media screen and (max-width: 1000px) {
    #nav-left > a > span, .connection-text {display: none !important;}
}

@media screen and (max-width: 600px) {
    #nav-toggle {display: inline-block;}
    #logo {padding-right: 10px !important;}
    #nav-left .nav-btn, .nav-divider {display: none; }
    /*.nav-btn {padding-left: 10px;}*/
    /*#settings-btn, #connection-status {padding-right: 10px !important;}*/

    .transactions-info_note {display:none}
    #transactions-time_interval {width: 100% !important;}
    .contacts-info {display:none}
    
    #message_sidebar {top: 30px;}
    #message_content {left: 0 !important;}
}

@media screen and (max-width: 480px) {
    #lockscreen {display:block !important;}
    #lockscreen-box {display:block !important;}
    .lockscreen-item {width: 100% !important;}
    .contacts-id-info {display:none;}
}

@media print {
    #simple-header, #testnet_warning, #transactions-search_export {display: none !important}
    html {height: auto !important;}
    html, #page {overflow: auto !important;}
    #page {
        display: block !important;
        background-color: white;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
    }    
}
/*  */
.callout {border-left: 5px solid #eee; padding: 15px 30px 15px 15px; margin: 0 0 20px;}
.callout-danger {background-color: #fcf2f2; border-color: #dfb5b4;}
.callout-info {background-color: #f0f7fd; border-color: #d0e3f0;}

.data-empty-container {margin: 10px 10px 0 10px;}

/* js-warning & lockscreen */

#lockscreen {position: absolute; top: 0; left: 0; width: 100%; height: 100%; display:table; background-color: #dedede;}
#lockscreen-box {width: 100%; height: 100%; display:table-cell; vertical-align: middle;}
#lockscreen img {display:block; margin: 0 auto;}
#js-warning-text {max-width: 400px; margin: 0 auto; text-align: left;}

#lockscreen {z-index: 9999;}

#lockscreen-panel {
    text-align: center;
}
#lockscreen-panel > div {
    display: inline-block;
    max-width: 500px;
    text-align: left;
}
#login_panel {
    max-width: 400px !important;
    margin-bottom: 20px;
}

/* transactions-page */

.transactions-lastcol {width: 12.5%;}
#transactions_page h3 {margin: 0 !important;}
#transactions-search_export {padding: 10px 10px 0; border-bottom: 1px solid #bbb; margin-bottom: 10px;}
#transactions_page table {border-bottom: 1px solid #ddd}
#transactions-last-table {border-bottom: 0 none !important; margin-bottom: 0;}
#transactions-balance1, #transactions-balance2 {font-size: 14px;}

/* contacts-page */

#contacts_page h3 {margin: 0 !important;}
#contacts_table {margin-bottom: 0;}

/* messages-page */

#messages_page {position: relative;}
#messages_page h3 {margin: 0 !important;}
#messages_page-title {padding: 20px 10px 10px; border-bottom: 1px #ddd solid; height: 65px;}
#messages_page_content {position: absolute; top: 65px; bottom: 0; left: 0; right: 0; height: auto;}
#message_sidebar {z-index: 3;}

/* settings-page */

#settings_page {padding: 20px;}
#settings_page h3 {margin-top: 0;}
